openapi: 3.0.3
info:
  title: Lotto - Totalizator Sportowy
  description: Manual creation of model
  version: 1.0.0

servers:
  - url: 'https://www.lotto.pl/api/'

tags:
  - name: Lotto
    description: Lotto service

paths:
  /lotteries/draw-results/by-gametype:
    get:
      summary: get draw results by game type
      description: retrieve game results
      operationId: getDrawResult
      parameters:
        - name: game
          description: game type name
          in: query
          required: true
          schema:
            type: string
          example: Lotto
      responses:
        200:
          description: results found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrawResultByGameTypeResponse'
        422:
          description: error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      description: Error response from Lotto Service
      type: object
      properties:
        errors:
          $ref: "#/components/schemas/Errors"
        code:
          type: integer
          example: 422
    Errors:
      description: errors list
      type: object
      properties:
        size:
          type: array
          items:
            type: string
          example: A value for the 'size' property is not provided
        sort:
          type: array
          items:
            type: string
          example: A value for the 'sort' property is not provided
        index:
          type: array
          items:
            type: string
          example: A value for the 'index' property is not provided
        order:
          type: array
          items:
            type: string
          example: A value for the 'order' property is not provided
    DrawResultByGameTypeResponse:
      description: draw result response to specific game type
      type: object
      properties:
        totalRows:
          description: total rows number
          type: number
